Regular/Barebone classes classes

#### References

1. https://www.youtube.com/watch?v=vRVVyl9uaZc&ab_channel=ArjanCodes

In [34]:
class Person:
    name: str
    age: int
    job: str

    def __init__(self, name, age, job):
        self.name = name
        self.age = age
        self.job = job

In [35]:
person1 = Person("AJ", 20, "Programmer")
person2 = Person("Charlie", 25, "Data Analyst")
person3 = Person("James", 30, "Data Engineer")
person4 = Person("James", 30, "Data Engineer")

In [36]:
print(id(person3))
print(id(person4))

139669385235616
139669385247136

In [37]:
print(person1)

<__main__.Person object at 0x7f075017d330>

In [38]:
print(person3 == person4)

False

___

In [39]:
from dataclasses import dataclass

@dataclass
class Person:
    name: str
    age: int
    job: str

In [40]:
person1 = Person("AJ", 20, "Programmer")
person2 = Person("Charlie", 25, "Data Analyst")
person3 = Person("James", 30, "Data Engineer")
person4 = Person("James", 30, "Data Engineer")

In [41]:
print(person1)

Person(name='AJ', age=20, job='Programmer')

In [42]:
print(id(person3))
print(id(person4))

139669384424960
139669385233408

Objects can be compared and it returns true in case they both have same content

In [43]:
print(person3 == person4)

True

___

Compare objects using order

In [44]:
from dataclasses import dataclass, field

@dataclass(order=True)
class Person:
    sort_index: int = field(init=False, repr=False)
    name: str
    age: int
    job: str
    strength: int = 100

    def __post_init__(self):
        self.sort_index = self.strength

In [45]:
person1 = Person("AJ", 20, "Programmer", 90)
person2 = Person("Charlie", 25, "Data Analyst")
person3 = Person("James", 30, "Data Engineer")
person4 = Person("James", 30, "Data Engineer")

In [46]:
person1.strength = 200

In [47]:
print(person1)
print(person2)

Person(name='AJ', age=20, job='Programmer', strength=200)
Person(name='Charlie', age=25, job='Data Analyst', strength=100)

In [48]:
print(person2 > person1)

True

In [49]:
print(person1 > person2)

False

In [50]:
person2

Person(name='Charlie', age=25, job='Data Analyst', strength=100)

In [51]:
person1.__dict__

{'name': 'AJ',
 'age': 20,
 'job': 'Programmer',
 'strength': 200,
 'sort_index': 90}

In [52]:
person1.strength = 10

In [53]:
person1.__dict__

{'name': 'AJ',
 'age': 20,
 'job': 'Programmer',
 'strength': 10,
 'sort_index': 90}

In [54]:
person1 > person2

False

In [55]:
person2

Person(name='Charlie', age=25, job='Data Analyst', strength=100)

___

Frozen Attribute

When this is set, you cannot do an assignment to sort_index directly but you can set it's value using \_\_setattr\_\_

In [56]:
from dataclasses import dataclass, field

@dataclass(order=True, frozen=True)
class Person:
    sort_index: int = field(init=False, repr=False)
    name: str
    age: int
    job: str
    strength: int = 100

    def __post_init__(self):
        object.__setattr__(self, 'sort_index', self.strength)

In [57]:
person1 = Person("AJ", 20, "Programmer", 90)
person2 = Person("Charlie", 25, "Data Analyst")
person3 = Person("James", 30, "Data Engineer")
person4 = Person("James", 30, "Data Engineer")

In [58]:
print(person1)
print(person2)

Person(name='AJ', age=20, job='Programmer', strength=90)
Person(name='Charlie', age=25, job='Data Analyst', strength=100)

In [59]:
print(person2 > person1)

True

In [60]:
print(person1 > person2)

False

In [61]:
person2

Person(name='Charlie', age=25, job='Data Analyst', strength=100)

In [62]:
person1.__dict__

{'name': 'AJ',
 'age': 20,
 'job': 'Programmer',
 'strength': 90,
 'sort_index': 90}

In [63]:
person1.__dict__

{'name': 'AJ',
 'age': 20,
 'job': 'Programmer',
 'strength': 90,
 'sort_index': 90}

In [64]:
person1 > person2

False

In [65]:
person2

Person(name='Charlie', age=25, job='Data Analyst', strength=100)

cannot set any attribute directly here due to `frozen=true` attribute

In [66]:
person1.strength = 10

FrozenInstanceError: cannot assign to field 'strength'

___

Keyword only argument from Python 3.10 onwards

In [1]:
from dataclasses import dataclass, field

@dataclass(kw_only=True)
class Person:
    sort_index: int = field(init=False, repr=False)
    name: str
    age: int
    job: str
    strength: int = 100

    def __post_init__(self):
        object.__setattr__(self, 'sort_index', self.strength)

In [2]:
person1 = Person("AJ", 20, "Programmer", 90)
person2 = Person("Charlie", 25, "Data Analyst")
person3 = Person("James", 30, "Data Engineer")
person4 = Person("James", 30, "Data Engineer")

TypeError: Person.__init__() takes 1 positional argument but 5 were given

When you set `kw_only=True` then you can do the initialization only using keywords

In [3]:
person1 = Person(name="AJ", age=20, job="Programmer")
# person2 = Person("Charlie", 25, "Data Analyst")
# person3 = Person("James", 30, "Data Engineer")
# person4 = Person("James", 30, "Data Engineer")

In [4]:
print(person1)

Person(name='AJ', age=20, job='Programmer', strength=100)